body {
  /* background-color: #f8dbc0; */
  background-image: url("https://abrakadabra.fun/uploads/posts/2022-01/1642743283_34-abrakadabra-fun-p-belii-ekran-bez-nichego-61.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.slider {
  color: rgb(30, 29, 29) !important;
}
